#main {
    margin:0px;
    padding : 0px;
    display: flex;
    
}

#main div {
    
    justify-content:space-between ;
    margin: 40px;
    margin-top: 50px;
}

.active {
    background-color: #f7f7f7;
}

.active .player-name {
    font-weight: 300;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #eb4d4d; 
    top: -7px;
    right: 10px;
}

.player-0-panel { 
    height: 300px;
    width: 300px;
    background-color: brown;
    padding-top:10px;
}

.dice-side { 
    height: 200px;
    padding-top:10px;
    width: 200px;
}


.player-1-panel {
    height: 300px;
    width:300px;
    padding-top:10px;
    background-color: blue;
}

.button {
    margin-left: 475px;
}


.player-score {
    background-color: aquamarine;
    padding-left: 86px;
}

.player-current-box{
    background-color: green;
    text-align: center;
    display: none block;
}

.player-current-score {
    background-color: pink;
    text-align: center;
    margin-bottom: 10px;
}

.Button2 { 
    margin-left: 487px;
    margin-top:  10px;
}

 